<form name="fbzpForm" ng-submit="fbzpVm.submit()">
  
  <div input-text
    data-switch="false"
    data-vm="fbzpVm"
    data-label="所属部门"
    data-name="depart"
    data-required="true"
    data-form="fbzpForm"
    data-pattern="/^[\u4e00-\u9fa5a-zA-Z0-9\-\_]{2,10}$/"
    data-tip='请填写此职位'
    data-error="职位名称必须在2-10个字符之间"
  ></div>
  
  <div input-text
    data-switch="false"
    data-vm="fbzpVm"
    data-label="职位名称"
    data-name="position"
    data-required="true"
    data-form="fbzpForm"
    data-pattern="/^[\u4e00-\u9fa5a-zA-Z0-9\-\_]{2,10}$/"
    data-tip='请填写此职位'
    data-error="职位名称必须在2-10个字符之间"
  ></div>
  
  <div select-simple
    data-switch="false"
    data-vm="fbzpVm"
    data-label="工作性质"
    data-name="property"
    data-options="item for item in fbzpVm.jobCategory"
    data-part="text"
    data-required="true"
  ></div>
  
  <div select-simple
    data-switch="false"
    data-vm="fbzpVm"
    data-label="薪资范围"
    data-name="salary"
    data-options="item for item in fbzpVm.salary"
    data-part="text"
    data-required="true"
  ></div>
  
  <div select-simple
    data-switch="false"
    data-vm="fbzpVm"
    data-label="工作经验"
    data-name="experi"
    data-options="item for item in fbzpVm.exprience"
    data-part="text"
    data-required="true"
  ></div>
  
  <div select-simple
    data-switch="false"
    data-vm="fbzpVm"
    data-label="学历要求"
    data-name="educat"
    data-options="item for item in fbzpVm.education"
    data-required="false"
  ></div>
  
  <div input-text
    data-switch="false"
    data-vm="fbzpVm"
    data-label="职位诱惑"
    data-name="tempt"
    data-required="true"
    data-form="fbzpForm"
    data-pattern="/^[\u4e00-\u9fa5a-zA-Z0-9\-\_\、\,]{2,10}$/"
    data-tip='请填写此职位诱惑'
    data-error="职位名称必须在2-10个字符之间,不能包含特殊字符"
  ></div>
  
  <div text-area
    data-switch="false"
    data-vm="fbzpVm"
    data-label="职位描述"
    data-name="detail"
    data-required="true"
    data-form="fbzpForm"
    data-pattern="/^[\u4e00-\u9fa5a-zA-Z0-9\-\_\-\:\；\,\，\.\!\、\。\：\;\'']{4,200}$/"
    data-tip='请输入此职位的描述'
    data-error="职位描述必须在4-200个字符之间,不能包含特殊字符"
  ></div>
  
  <div select-double-numbers
    data-switch="false"
    data-vm="fbzpVm"
    data-label="年龄"
    data-first="minage"
    data-second="maxage"
    data-required="true"
  ></div>

  <div btn-submit
    data-vm="fbzpVm"
    data-form="fbzpForm"
    data-api="HRZpxxFb/InfoFb"
  ></div>

</form>

<div modal
  data-vm = "fbzpVm"
  data-url="/zplb"
></div>

<!--<div list
  data-vm="fbzpVm"
  data-api="/HRTdjl/List"
  data-datekey="licgsj"
  data-operate="true"
  data-operation="删除"
  data-func="save(item.userid)"
></div>-->

