<form name="addfdForm" ng-submit="addfdVm.submit()">
    <div add-fdlist
         data-vm="addfdVm"
         data-operate="true"
         data-postapi="/UserAccount/CompanyChildList"
         data-delapi="/UserAccount/CompanyinfChildDel"
    ></div>
    <div input-text
    data-switch="false"
    data-vm="addfdVm"
    data-label="公司名称"
    data-name="company"
    data-required="true"
    data-form="addfdForm"
    data-pattern="/^[\u4e00-\u9fa5a-zA-Z0-9\-\_]{2,80}$/"
    data-tip='请填写公司名称'
    data-error="公司名称必须在2-40个字符之间"
  ></div>
    <div input-text
    data-switch="false"
    data-vm="addfdVm"
    data-label="手机号码"
    data-name="phone"
    data-required="true"
    data-form="addfdForm"
    data-pattern="/^(13[0-9]|15[012356789]|17[678]|18[0-9]|14[57]|01[0])[0-9]{8}$/"
    data-tip='请填写此电话号码'
    data-error="号码以13,15,17,18,14,01开头"
  ></div>
   <div nodatas-Area data-label="公司地址:" data-required="true" data-name="area" data-vm="addfdVm" data-map="true"></div>
   <div baidumap data-vm="addfdVm" data-name="addr" data-required="true" data-label="详细地址" data-pattern=""></div>
   <div add-fd
     data-vm="addfdVm"
     data-form="addfdForm"
     data-postapi="/UserAccount/CompanyChildList"
     data-addapi="/UserAccount/CompanyChileAdd"
     data-modifyapi="/UserAccount/CompanyChildEdit"
></div>
</form>