<form name="CardForm">
  <h2 class="card_title">修改银行卡信息</h2>
  <div input-text
    data-switch="false"
    data-vm="CardVm"
    data-name="compay"
    data-required="true"
    data-form="CardForm"
    data-label="真实姓名"
    data-pattern=""
    data-tip=""
  ></div>
  <div input-text
    data-switch="false"
    data-vm="CardVm"
    data-name="compay"
    data-required="true"
    data-form="CardForm"
    data-label="身份证号"
    data-pattern=""
    data-tip=""
  ></div>
  <div input-text
    data-switch="false"
    data-vm="CardVm"
    data-name="compay"
    data-required="true"
    data-form="CardForm"
    data-label="银行卡号"
    data-pattern=""
    data-tip=""
  ></div>
  <div input-text
    data-switch="false"
    data-vm="CardVm"
    data-name="compay"
    data-required="true"
    data-form="CardForm"
    data-label="手机号"
    data-pattern=""
    data-tip=""
  ></div>
  <div class="formSet clearfix">
    <div class="formSetWrap">
      <button class="formBtn formBtn--submit" type="button" ng-click="CardVm.submit()">提交</button>
    </div>
  </div>
</form>