<!--公司案例-->
<form name="gsalForm" ng-submit="gsalVm.submit()">

    <div web-uploader
      data-vm="gsalVm"
      data-name="img"
      data-form="gsalForm"
      data-size="285x189"
      data-key="uc"
      data-label="案例图片"
      ng-model="gsalVm.data.img"
    ></div>
    <div input-text
      data-switch="false"
      data-vm="gsalVm"
      data-name="title"
      data-form="gsalForm"
      data-required="true"
      data-label="案例标题"
      data-pattern="/^[\u4e00-\u9fa5a-zA-Z0-9\-\_]{2,10}$/"
      data-error="标题必须在2-10个字符之间"
    ></div>
    <div input-text
      data-switch="false"
      data-vm="gsalVm"
      data-name="url"
      data-form="gsalForm"
      data-label="案例链接"
      data-pattern="/^((https?|ftp|news):\/\/)?([a-z]([a-z0-9\-]*[\.。])+([a-z]{2}|aero|arpa|biz|com|coop|edu|gov|info|int|jobs|mil|museum|name|nato|net|org|pro|travel)|(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5]))(\/[a-z0-9_\-\.~]+)*(\/([a-z0-9_\-\.]*)(\?[a-z0-9+_\-\.%=&]*)?)?(#[a-z][a-z0-9_]*)?$/"
      data-error="链接地址不合法"
    ></div>
     <!--提交按钮指令需要重写-->
     <div class="formGourp formGourp--submit clearfix">
  <input class="formBtn formBtn--submit" type="submit" value="提交"
      ng-disabled="gsalForm.$invalid || gsalVm.isDisabled">
</div>
</form>
<div modal
     data-vm="gsalVm"
     data-url="/gsal"
></div>