<form name="GsdtEditForm" ng-submit="gsdteditVm.submit()">
  <div web-uploader
      data-vm="gsdteditVm"
      data-label="项目封面"
      data-name="frontpic"
      data-key="uc"
      data-size='310x310'
      ng-model="gsdteditVm.data.frontpic"
  ></div>
  <div input-text
      data-switch="false"
      data-vm="gsdteditVm"
      data-label="动态标题"
      data-name="title"
      data-required="true"
      data-form="GsdtEditForm"
      data-pattern=""
      data-tip='产品标题必须在2-30个字符之间'
      data-error="产品标题必须在2-30个字符之间"
  ></div>
  <!--<div class="formSet clearfix">
        <label class="formLabel"><span class="formSet_required">*</span>动态类型</label>
        <input type="hidden" ng-model="gsdteditVm.data.type" required>
        <span class="formInputSet_radioWrap"><i class="formInputSet_radio" ng-click="gsdteditVm.selectTrans($event, 1)"></i> 公司动态</span>
        <span class="formInputSet_radioWrap"><i class="formInputSet_radio" ng-click="gsdteditVm.selectTrans($event, 2)"></i> 行业动态</span>
  </div>-->
  <div text-area
      data-switch="false"
      data-vm="gsdteditVm"
      data-label="摘要"
      data-name="abstracts"
      data-required="true"
      data-form="GsdtEditForm"
      data-pattern=""
      data-tip='摘要必须在2-200个字符之间'
      data-error="摘要必须在2-200个字符之间"
  ></div>
  <div rich-text
      data-vm="gsdteditVm"
      data-label="描述"
      data-name="txt"
      data-required="true"
      data-keyname="uc"
      data-size="800x800"
      ng-model="gsdteditVm.data.txt"
   ></div>
  <div class="formGourp formGourp--submit clearfix">
        <input class="formBtn formBtn--submit" type="submit" value="提交" ng-disabled="GsdtEditForm.$invalid" />
  </div>
</form>
