<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <title>梦云街订单填写</title>
  <link rel="stylesheet" href="//cdn.dreamhiway.com/styles/general.css">
  <script>
    var pagekey = 'order';
    // var p = [{"ddid":216,"items":[{"productid":226,"skuid":0,"count":1}]}]; //测试代码
    // var requireAddr = false;
  </script>
  <script type="text/html" id="addressTem">
    {{each result as addr}}
    {{if addr.isDefault === false}}
    <div class="areaSelect clearfix">
    {{/if}}
    {{if addr.isDefault === true}}
    <div class="areaSelect clearfix confirm selected_addr">
    {{/if}}
      <label class="sendFor"><i></i>寄送至</label>
      <p class="user_infor"><i class="select_icon"></i><span class="orderfill_name">{{addr.name}}</span><span class="orderfill_phone">{{addr.mobile}}</span>
        <span class="orderfill_addr">{{addr.province_name}} {{addr.city_name}} <span class="district_name" data-code="{{addr.district_code}}">{{addr.district_name}}</span> {{addr.address}}</span>
      </p>
      <ul class="operate clearfix">
        <li class="operate_items operate_items_grey">默认地址</li>
        <li class="operate_items" id="modify" data-id="{{addr.id}}">修改</li>
        <li class="operate_items" id="delete">删除</li>
      </ul>
    </div>
    {{/each}}
  </script>
</head>

<body>
  <div class="cart">
    <!--购物车头部 开始-->
    <div class="cart_header clearfix">
      <h2 class="cart_title">确认订单信息</h2>
      <ul class="cartStep clearfix">
        <li class="cartStep_item">1.放入购物车</li>
        <li class="cartStep_item is_active">2.填写订单信息</li>
        <li class="cartStep_item">3.支付/确认订单</li>
      </ul>
    </div>
    <!--购物车头部 结束-->

    <div class="cart_order">
      <h3 class="cart_order_ttl">支付方式</h3>
      <ul class="paymethod_list clearfix">
        <li class="paymethod_item">
          <input id="storepay" type="radio" name="paymethod" value="storepay">
          <label for="storepay">到店支付</label>
          <span>手续费：0.00元</span>
        </li>
        <li class="paymethod_item">
          <input id="alipay" type="radio" name="paymethod" value="alipay" checked="checked">
          <label for="alipay">支付宝</label>
          <span>手续费：0.00元</span>
        </li>
      </ul>
    </div>

    <div class="cart_order">
      <div class="orderfill_cont">
        <h2 class="orderfill_ttl">收货地址</h2>
        <div class="address_tem">
        </div>
        <p class="newAddr">使用新地址</p>
      </div>
    </div>
    <!--弹出层 开始-->
    <div class="model_bg"></div>
    <div class="model newaddr_model">
      <h1 class="model_ttl">添加收货地址<span class="model_cancel">×</span></h1>
      <div class="model_cont">
        <h2 class="newaddr_ttl"><span>新增收货地址</span>除电话号码外,其余均为必填项</h2>
        <form id="addrForm">
          <div class="newaddrForm addrForm">
            <label class="newaddrForm_label">所在地区<span class="newaddrForm_label_required" class="newaddrForm_label_required">*</span></label>
            <input class="newaddrForm_input newaddrForm_input-short" type="text" id="province" required>
            <ul class="order_addr addr_province"></ul>
            <input class="newaddrForm_input newaddrForm_input-short" type="text" id="city" required>
            <ul class="order_addr addr_city"></ul>
            <input class="newaddrForm_input newaddrForm_input-short" type="text" id="county" required>
            <ul class="order_addr addr_county"></ul>
          </div>
          <div class="newaddrForm">
            <label class="newaddrForm_label">详细地址<span class="newaddrForm_label_required">*</span></label>
            <textarea class="newaddrForm_textarea" id="address" placeholder="建议您如实填写详细收货地址,例如街道名,名牌号码,楼层和房间号等信息" required></textarea>
          </div>
          <div class="newaddrForm">
            <label class="newaddrForm_label">邮政编码</label>
            <input class="newaddrForm_input" id="code" type="text" placeholder="如您不知道邮政编码,请填写000000">
          </div>
          <div class="newaddrForm">
            <label class="newaddrForm_label">收货人姓名<span class="newaddrForm_label_required">*</span></label>
            <input class="newaddrForm_input" id="name" type="text" placeholder="长度不超过20字符" required>
          </div>
          <div class="newaddrForm">
            <label class="newaddrForm_label">手机号码<span class="newaddrForm_label_required">*</span></label>
            <input class="newaddrForm_input" id="mobile" type="text" placeholder="请填写您的手机号码" required>
          </div>
          <div class="newaddrForm">
            <label class="newaddrForm_label">电话号码</label>
            <input class="newaddrForm_input newaddrForm_input-short" id="quhao" placeholder="区号" type="text">-
            <input class="newaddrForm_input newaddrForm_input-short" id="phone" placeholder="电话号码" type="text">-
            <input class="newaddrForm_input newaddrForm_input-short" id="fenji" placeholder="分机" type="text">
          </div>
          <div class="newaddrForm">
            <label class="newaddrForm_label"></label>
            <input type="checkbox" id="default">设置为默认地址
          </div>
          <button class="newaddrForm_btn" type="button">保存</button>
        </form>
      </div>
    </div>
    <!--弹出层 结束-->
    <div class="invoice_div">
      <label class="invoiceLabel">备注 :</label>
      <input class="invoiceInput_long" type="text" placeholder="请填写备注">
    </div>
    <div class="cart_order">
      <h3 class="cart_order_ttl">商品清单</h3>
      <table class="cart_store">
        <caption>
          <h4 class="cart_store_ttl">店铺：测试</h4>
        </caption>
        <colgroup>
          <col width="8%">
          <col width="65px">
          <col width="12%">
          <col width="15%">
          <col width="12%">
        </colgroup>
        <thead>
          <tr>
            <th colspan="2">商品信息</th>
            <th>单价</th>
            <th>数量</th>
            <th>金额</th>
          </tr>
        </thead>
        <tbody>
          <tr data-skuid="0" data-productid="181" data-id="142">
            <td class="cart_img">
              <a href="#"><img src="../../src/myj/img/shangpin2.png" alt="这只是个测试"></a>
            </td>
            <td class="cart_name"><a href="#">这只是个测试</a></td>
            <td>¥<span class="cart_unitPrice">2222.22</span></td>
            <td>1</td>
            <td class="cart_emp">¥<span class="cart_cost">2222.22</span></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="cart_order">
      <h3 class="cart_order_ttl">结算信息</h3>
      <div class="cart_account">
        <p class="cart_account_p">
          <span>商品<span class="cart_emp">1</span>件</span>
          <span>商品金额：￥<span class="cart_emp">2879.10</span>元</span>
        </p>
        <p class="cart_account_p">
          应付总金额：￥<span class="cart_emp">2879.10</span>元
        </p>
        <p class="cart_account_p">
          <a href="#" class="cart_back">返回购物车</a>
          <a href="javascript:;" class="order_submit">提交</a>
        </p>
      </div>
    </div>
  </div>

  <script src="//cdn.dreamhiway.com/static/lib/jquery.min.js"></script>
  <script src="/js/myj.js"></script>
</body>

</html>