<!--申请众创空间-->
<form name="applyForm" ng-submit="applyVm.submit()">
  <div input-text
    data-switch="false"
    data-vm="applyVm"
    data-label="公司(团队)全程"
    data-name="company"
    data-required="true"
    data-form="applyForm"
    data-pattern="/^[\u4e00-\u9fa5a-zA-Z0-9\-\_]{2,30}$/"
    data-tip='请填写此公司名称'
    data-error="公司名称必须在2-15个字符之间"
  ></div>
  <div input-text
    data-switch="false"
    data-vm="applyVm"
    data-label="一句话项目介绍"
    data-name="profile"
    data-required="true"
    data-form="applyForm"
    data-pattern="/^[\u4e00-\u9fa5a-zA-Z0-9\-\_]{2,100}$/"
    data-tip='请填写此项目介绍'
    data-error="项目介绍必须在2-50个字符之间"
  ></div>
  <div select-simple
    data-switch="false"
    data-vm="applyVm"
    data-label="项目所属行业"
    data-name="trade"
    data-options="item as item.name for item in applyVm.companytrade"
    data-required="true"
  ></div>
  <div input-text
    data-switch="false"
    data-vm="applyVm"
    data-label="法人代表(负责人)姓名"
    data-name="introducer"
    data-required="true"
    data-form="applyForm"
    data-pattern="/^[\u4e00-\u9fa5a-zA-Z0-9\-\_]{2,100}$/"
    data-tip='请填写此法人代表(负责人)姓名'
    data-error="法人代表(负责人)姓名必须在2-50个字符之间"
  ></div>
  <div input-text
    data-switch="false"
    data-vm="applyVm"
    data-label="联系人姓名"
    data-name="contacts"
    data-required="true"
    data-form="applyForm"
    data-pattern="/^[\u4e00-\u9fa5a-zA-Z0-9\-\_]{2,100}$/"
    data-tip='请填写此项目联系人'
    data-error="联系人必须在2-50个字符之间"
  ></div>
  <div input-text
    data-switch="false"
    data-vm="applyVm"
    data-label="联系人电子邮箱"
    data-name="email"
    data-required="true"
    data-form="applyForm"
    data-pattern="/^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/"
    data-tip='请填写联系邮箱'
    data-error="邮箱格式不正确"
  ></div>
  <div class="content_t_t ">
    <p>如需上传多个文件，请在本地进行压缩后上传</p>
  </div>
  <div file-uploader
    data-vm="applyVm"
    data-form="applyForm"
    data-label="附件"
    data-pathname="plan"
    data-keyname="zckj"
    data-required="true"
  ></div>
  <div class="formGourp formGourp--submit clearfix">
   <input class="formBtn formBtn--submit" type="submit" value="提交"
            ng-disabled="applyForm.$invalid"
          >
  </div>  
</form>