<!--显示买家订单详情-->
<div read-only
data-vm="SellerdetailVm"
data-label="买家姓名"
data-name="buyerName"
></div>
<div read-only
data-vm="SellerdetailVm"
data-label="联系方式"
data-name="phone"
></div>
<div read-only
data-vm="SellerdetailVm"
data-label="订单号"
data-name="number"
></div>
<div read-only
data-vm="SellerdetailVm"
data-label="下单时间"
data-name="date"
></div>
<div read-only
data-vm="SellerdetailVm"
data-label="总额"
data-name="totalFee"
></div>
<div read-only
data-vm="SellerdetailVm"
data-label="付款状态"
data-name="stateName"
></div>
<div read-only
data-vm="SellerdetailVm"
data-label="收获地址"
data-name="receiveAddress"
></div>
<div read-only
data-vm="SellerdetailVm"
data-label="收件人"
data-name="receiveName"
></div>
<div read-only
data-vm="SellerdetailVm"
data-label="收件人联系号码"
data-name="receivePhone"
></div>
<div read-only
data-vm="SellerdetailVm"
data-label="物流方式"
data-name="wlfs"
></div>
<div read-only
data-vm="SellerdetailVm"
data-label="备注"
data-name="remark"
data-isarea="true"
></div>