<form name="cyfbdetailForm">
   <div input-text
    data-switch="false"
    data-vm="cyfbdetailVm"
    data-label="项目名称"
    data-name="title"
    data-required="true"
    data-form="cyfbdetailForm"
    data-pattern="/^[\u4e00-\u9fa5a-zA-Z0-9\-\_]{2,10}$/"
    data-tip='请填写项目名称'
    data-error="项目名称必须在2-10个字符之间"
  ></div>
   <div input-text
    data-switch="false"
    data-vm="cyfbdetailVm"
    data-label="投稿人姓名"
    data-name="name"
    data-required="true"
    data-form="cyfbdetailForm"
    data-pattern="/^[\u4e00-\u9fa5a-zA-Z0-9\-\_]{2,10}$/"
    data-tip='请填写地区名称'
    data-error="地区名称必须在2-10个字符之间"
  ></div>
   <div input-text
    data-switch="false"
    data-vm="cyfbdetailVm"
    data-label="用户账户类型"
    data-name="type"
    data-required="true"
    data-form="cyfbdetailForm"
    data-pattern="/^[\u4e00-\u9fa5a-zA-Z0-9\-\_]{2,10}$/"
    data-tip='请填写报价'
    data-error="职位名称必须在2-10个字符之间"
  ></div>
   <div input-text
    data-switch="false"
    data-vm="cyfbdetailVm"
    data-label="投稿时间"
    data-name="time"
    data-required="true"
    data-form="cyfbdetailForm"
    data-pattern="/^[\u4e00-\u9fa5a-zA-Z0-9\-\_]{2,10}$/"
    data-tip='请填写报价'
    data-error="职位名称必须在2-10个字符之间"
  ></div>
   <div input-text
    data-switch="false"
    data-vm="cyfbdetailVm"
    data-label="地址"
    data-name="address"
    data-required="true"
    data-form="cyfbdetailForm"
    data-pattern="/^[\u4e00-\u9fa5a-zA-Z0-9\-\_]{2,10}$/"
    data-tip='请填写报价'
    data-error="职位名称必须在2-10个字符之间"
  ></div>
   <div input-text
    data-switch="false"
    data-vm="cyfbdetailVm"
    data-label="附件地址"
    data-name="savaaddr"
    data-required="true"
    data-form="cyfbdetailForm"
    data-pattern="/^[\u4e00-\u9fa5a-zA-Z0-9\-\_]{2,10}$/"
    data-tip='请填写报价'
    data-error="职位名称必须在2-10个字符之间"
  ></div>
   <div input-text
    data-switch="false"
    data-vm="cyfbdetailVm"
    data-label="报价"
    data-name="quote"
    data-required="true"
    data-form="cyfbdetailForm"
    data-pattern="/^[\u4e00-\u9fa5a-zA-Z0-9\-\_]{2,10}$/"
    data-tip='请填写报价'
    data-error="职位名称必须在2-10个字符之间"
  ></div>
   <div input-text
    data-switch="false"
    data-vm="cyfbdetailVm"
    data-label="工作周期"
    data-name="worktime"
    data-required="true"
    data-form="cyfbdetailForm"
    data-pattern="/^[\u4e00-\u9fa5a-zA-Z0-9\-\_]{2,10}$/"
    data-tip='请填写报价'
    data-error="职位名称必须在2-10个字符之间"
  ></div>
   <div text-area
    data-switch="false"
    data-vm="cyfbdetailVm"
    data-label="说明"
    data-name="intro"
    data-required="true"
    data-form="cyfbdetailForm"
    data-pattern="/^[\u4e00-\u9fa5a-zA-Z0-9\-\_\-\:\；\,\，\.\!\、\。\：\;\'']{4,200}$/"
    data-tip='请填报价说明'
    data-error="职位名称必须在4-200个字符之间,不能包含特殊字符"
  ></div>
</form>