<!--投稿人详细列表-->
<form name="cytgdetailForm">
   <div input-text
    data-switch="false"
    data-vm="cytgdetailVm"
    data-label="报价"
    data-name="quote"
    data-required="true"
    data-form="cytgdetailForm"
    data-pattern="/^[\u4e00-\u9fa5a-zA-Z0-9\-\_]{2,10}$/"
    data-disabled="true"
  ></div>
   <div input-text
    data-switch="false"
    data-vm="cytgdetailVm"
    data-label="地区"
    data-name="address"
    data-required="true"
    data-form="cytgdetailForm"
    data-pattern="/^[\u4e00-\u9fa5a-zA-Z0-9\-\_]{2,10}$/"
    data-disabled="true"
  ></div>
   <div input-text
    data-switch="false"
    data-vm="cytgdetailVm"
    data-label="报价"
    data-name="worktime"
    data-required="true"
    data-form="cytgdetailForm"
    data-pattern="/^[\u4e00-\u9fa5a-zA-Z0-9\-\_]{2,10}$/"
    data-disabled="true"
  ></div>
   <div text-area
    data-switch="false"
    data-vm="cytgdetailVm"
    data-label="职位描述"
    data-name="intro"
    data-required="true"
    data-form="cytgdetailForm"
    data-pattern="/^[\u4e00-\u9fa5a-zA-Z0-9\-\_\-\:\；\,\，\.\!\、\。\：\;\'']{4,200}$/"
    data-disabled="true"
  ></div>
</form>