<!--教育经历-->
<form name="education" ng-submit="educationVm.submit()">
  <!--列表指令-->
<div home    
     data-vm="educationVm"
     data-operate="true"
></div>
<div start-year
     data-vm='educationVm'
     data-switch='false'
     data-label='学习日期'
     data-first='startYear'
     data-second='startMonth'
     data-third='endYear'
     data-fourth='endMonth'
     data-required='true'
></div>
<div input-text
    data-switch="false"
    data-vm="educationVm"
    data-label="职位名称"
    data-name="name"
    data-required="true"
    data-form="education"
    data-pattern="/^[\u4e00-\u9fa5a-zA-Z0-9\-\_]{2,30}$/"
    data-tip='请填写学校名称'
    data-error="学校名称必须在2-30个字符之间"
></div>
<div input-text
    data-switch="false"
    data-vm="educationVm"
    data-label="学历"
    data-name="xl"
    data-required="true"
    data-form="education"
    data-pattern="/^[\u4e00-\u9fa5a-zA-Z0-9\-\_]{2,30}$/"
    data-tip='请填写学历名称'
    data-error="学历名称必须在2-30个字符之间"
></div>
<div input-text
    data-switch="false"
    data-vm="educationVm"
    data-label="专业名称"
    data-name="major"
    data-required="true"
    data-form="education"
    data-pattern="/^[\u4e00-\u9fa5a-zA-Z0-9\-\_]{2,30}$/"
    data-tip='请填写学校名称'
    data-error="学校名称必须在2-30个字符之间"
></div>
<div homebtn-submit
     data-vm="educationVm"
     data-form="education"
     data-addapi="/UserAccount/EduAdd"
     data-modifyapi="/UserAccount/EduEdit"
></div>
