<!--头像上传-->
<!--<div>
          <input type="file" ng-jcrop-input="upload">
          <input type="hidden" ng-model="data.logo" required>
          <div class="materialItem_img">
             <img ng-src="{{avatar ? dhw.imgurl + avatar : 'http://cdn.dreamhiway.com/usercenter/images/iconfont-touxiang.png' }}">
          </div>
          <div class="materialItem_btn">
            <div  id="browseIDZ" ng-model="data.logo" data-keyname="uc" data-size="640x640" bind-img>上传</div>
          </div> 
          
           
  <div ng-jcrop="avatarVm.obj.src" ng-jcrop-config-name="upload" selection="avatarVm.obj.selection" thumbnail="avatarVm.obj.thumbnail">
    
  </div>-->
  
  <!--<button type="button" ng-click="avatarVm.submit()">上传图片</button>
</div>-->

<div avatar-directive
     
></div>