<!--主题修改-->
<form name="ztxgForm" ng-submit="ztxgVm.submit()">
  <div input-text
    data-switch="false"
    data-vm="ztxgVm"
    data-label="主标题"
    data-name="maintitle"
    data-form="ztxgForm"
    data-pattern="/^[\u4e00-\u9fa5a-zA-Z0-9\-\_]{2,10}$/"
    data-error="请输入正确的主标题名称"
  ></div>
  <div input-text
    data-switch="false"
    data-vm="ztxgVm"
    data-label="副标题"
    data-name="subtitle"
    data-form="ztxgForm"
    data-pattern="/^[\u4e00-\u9fa5a-zA-Z0-9\-\_]{2,10}$/"
    data-error="请输入正确的副标题名称"
  ></div>
</form>