<!--公司服务-->
<form name="gsfwForm">

    <div input-text
      data-switch="true"
      data-vm="gsfwVm"
      data-name="name"
      data-required="true"
      data-form="gsfwForm"
      data-label="标题名称"
      data-pattern="/^[\u4e00-\u9fa5a-zA-Z0-9\-\_]{2,10}$/"
      data-error="标题必须在2-10个字符之间"
      data-api="/CompanyHomeEdit/ServiceAdd/"
    ></div>
    <div web-uploader
      data-vm="gsfwVm"
      data-label="图片"
      data-name=""
      data-form="gsfwForm"
      data-key=""
      data-size="100x100"
      ng-model="gsfwVm.data.img"
      data-api="/CompanyHomeEdit/ServiceAdd"
    ></div>
    <div input-text
      data-switch="true"
      data-vm="gsfwVm"
      data-name="money"
      data-required="true"
      data-form="gsfwForm"
      data-label="价格"
      data-pattern="/^[1-9]\d*(\.\d{1,2}$|$)/"
      data-error="价格必须在2-10个数字之间"
      data-api="/CompanyHomeEdit/ServiceAdd"
    ></div>
    <div input-text
      data-switch="true"
      data-vm="gsfwVm"
      data-name="url"
      data-required="true"
      data-form="gsfwForm"
      data-label="链接"
      data-pattern="/^((https?|ftp|news):\/\/)?([a-z]([a-z0-9\-]*[\.。])+([a-z]{2}|aero|arpa|biz|com|coop|edu|gov|info|int|jobs|mil|museum|name|nato|net|org|pro|travel)|(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5]))(\/[a-z0-9_\-\.~]+)*(\/([a-z0-9_\-\.]*)(\?[a-z0-9+_\-\.%=&]*)?)?(#[a-z][a-z0-9_]*)?$/"
      data-error="链接格式不正确"
      data-api="/CompanyHomeEdit/ServiceAdd"
    ></div>
    <div select-simple
      data-switch="true"
      data-vm="gsfwVm"
      data-label="项目所属行业"
      data-name="typeid"
      data-required="true"
      data-form="gsfwForm"
      data-options="item.text for item in gsfwVm.typeids"
      data-editapi="/CompanyHomeEdit/ServiceAdd"
  ></div>

</form>