<div read-only
  data-vm="detailVm"
  data-name="subject"
  data-label="项目标题 : "
></div>
<div read-only
  data-vm="detailVm"
  data-name="receiveAddress"
  data-label="收货地址 : "
></div>
<div read-only
  data-vm="detailVm"
  data-name="remark"
  data-label="备注 : "
  data-isarea="true"
></div>
<div read-only
  data-vm="detailVm"
  data-name="number"
  data-label="订单编号 : "
></div>
<div read-only
  data-vm="detailVm"
  data-name="payfinishedtime"
  data-label="付款时间 : "
></div>
<div read-only
  data-vm="detailVm"
  data-name="count"
  data-label="数量 : "
></div>
<div read-only
  data-vm="detailVm"
  data-name="price"
  data-label="单价 : "
></div>
<div read-only
  data-vm="detailVm"
  data-name="body"
  data-label="规格描述 : "
  data-isarea="true"
></div>
<div read-only
  data-vm="detailVm"
  data-name="deliveryPrice"
  data-label="产品运费 : "
></div>
<div read-only
  data-vm="detailVm"
  data-name="shippercode"
  data-label="物流公司代码 : "
></div>
<div read-only
  data-vm="detailVm"
  data-name="logisticcode"
  data-label="快递单号 : "
></div>
<div read-only
  data-vm="detailVm"
  data-name="sellernote"
  data-label="卖家备注 : "
  data-isarea="true"
></div>
<div read-only
  data-vm="detailVm"
  data-name="delivery_time"
  data-label="发货时间 : "
></div>