/*日期选择*/
.clndr {
  position: absolute;
  top: 38px;
  left: 165px;
  z-index: 1;
  width: 510px;
  border: 1px solid var(--formBorderColor);
  border-radius: 2px;
  background-color: #fff;
  font-size: 14px;
}
.clndr_close {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 20px;
  height: 20px;
  font-weight: 700;
  font-size: 16px;
  color: #ddd;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
}
.clndr_close:hover {
  color: var(--emColor);
}
.clndr_y {
  padding-top: 10px;
  text-align: center;
  font-size: 20px;
}
.clndr_y_btn {
  height: 20px;
  padding: 0 10px;
  border: 0;
  margin: 0 10px;
  background-color: transparent;
  font-weight: 700;
  font-size: 26px;
  line-height: 20px;
  color: var(--emColor);
  cursor: pointer;
}
.clndr_body {
  padding: 13px;
}
.clndr_m,
.clndr_d {
  float: left;
}
.clndr_m {
  padding-bottom: 10px;
  border-bottom: 1px dashed #ccc;
}
.clndr_d {
  padding: 15px 0px 0;
}
.clndr_m_item,
.clndr_d_item {
  float: left;
  width: 40px;
  height: 28px;
  border-radius: 3px;
  line-height: 28px;
  text-align: center;
  cursor: pointer;
}
.clndr_m_item {
  font-weight: 700;
}
.clndr_d_item {
  width: 32px;
  height: 22px;
  margin: 5px 4px;
  line-height: 22px;
}
.clndr_m_item:hover,
.clndr_d_item:hover  {
  background-color: #f6f6f6;
}
.clndr_m_item.current,
.clndr_d_item.current {
  background-color: var(--emColor-light);
}
.clndr_m_item.active,
.clndr_d_item.active {
  background-color: var(--emColor);
  color: #fff;
}
.clndr_m_item.disabled {
  background-color: transparent;
  color: #999;
  cursor: default;
}
.clndr_d_item.disabled {
  background-color: transparent;
  color: #999;
  cursor: default;
}