@import 'normalize.css';
@import 'font-awesome';
/*默认样式重置*/
* {
  margin:0;
  padding:0;
}
body {
  font-size:10px;
}
a {
  text-decoration: none;
}
ul, ol, dl {
  list-style: none;
}
/* 导航条样式 */
.nav {
  height: 30px;
  line-height: 30px;
  font-size:1.2em;
  background :transparent url(../image/nav_bg.gif) repeat-x;
}
.nav_wrap {
  width:1150px;
  margin: 0 auto;
}
/*导航条左部分*/
.nav_wrap_left {
  float: left
}
.nav_wrap_right {
  float: right
}
.nav_wrap_left_list{
  float: left;
  margin-right:20px;
}
.nav_wrap_left_text {
  font-family:"simsun", serif;
  color:#A5A5A5;
}
.nav_wrap_left_iconfont {
  font-size:16px;
}
/*导航条右半部分*/
.nav_wrap_right_list {
  float: left;
}
.nav_wrap_right_list a {
  padding: 0 10px;
  font-size: 12px;
  color:#A5A5A5;
  border-left:1px solid #ccc;
}
.nav_wrap_right_list_login a{
  padding: 0;
  border: 0;
  margin-right: 10px;
}
.nav_wrap_right_text {
  padding:0 10px;
  border-right:1px solid #ccc;
  font-family:"simsun", serif;
  color:#A5A5A5;
}
.nav_wrap_site_navigation {
  position: relative;
  width: 92px;
  height: 30px;
}
.nav_wrap_site_navigation a{
  border-right:1px solid #ccc;
}
.nav_wrap_site_navigation_down {
  display: none;
  position: absolute;
  right: 0;
  top: 31px;
  z-index: 100;
  padding: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  text-align: center;
  line-height: 1.4em;
  overflow: hidden;
}
.nav_wrap_site_navigation_menu {
  right: 8px;
  width: 160px;
}
.nav_wrap_site_navigation_menu li{
  float: left;
  width: 70px;
  padding: 5px;
  text-align: center;
  line-height: 1.8em;
}
.nav_wrap_site_navigation_menu li a {
  border:0;
}
.nav_wrap_site_navigation_logo {
  position: absolute;
  right: 0;
  top: 31px;
  z-index: 100;
  padding: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  text-align: center;
  line-height: 1.4em;
  overflow: hidden;
}
/*微信微博logo样式*/
.nav_wrap_site_weixin,
.nav_wrap_site_weibo
{
  position: relative;
}
.nav_wrap_site_weixin a,
.nav_wrap_site_weibo a {
  padding :0 5px; 
}
.nav_wrap_site_weixin {
  width: 28px;
  height: 30px;
}
.nav_wrap_site_weibo {
  width: 28px;
  height: 30px;
}
.nav_wrap_site_weixin a ,
.nav_wrap_site_weibo a {
  border-left: 0px;
}
.nav_wrap_site_weixin a ,
.nav_wrap_site_weibo a {
  border-left: 0px;
}
.nav_wrap_site_weixin_logo {
  right:2px;
}
.nav_wrap_site_weibo_logo {
  right:4px;
}