<!--我是已通知面试简历-->
<div list 
     data-vm="ytgmsVm"
     data-api="/HRDelivery/DeliveryList/"
     data-params='{"state":3,"total":0}'
     data-datekey="createtime"
     data-datekeytxt="创建时间"
     data-operate="true"
     data-operation="查看"
     data-editurl="#/td-preview-detail?JobID={{item.JobID}}&statemc={{item.statemc}}&tdUserID={{item.tdUserID}}"
     data-projectname="false"
     data-delresume="true"
     data-userid="item.tdUserID"
     data-jobid="item.JobID"
     data-delapi="/HRDelivery/CompanyDeliveryDel"
     >
</div>