<form name="fbzpForm" ng-submit="fbzpVm.submit()">
  
  <div input-text
    data-switch="false"
    data-vm="fbzpVm"
    data-label="所属部门"
    data-name="depart"
    data-required="true"
    data-form="fbzpForm"
    data-pattern="/^[\u4e00-\u9fa5a-zA-Z0-9\-\_]{2,10}$/"
    data-tip='请填写此职位'
    data-error="职位名称必须在2-10个字符之间"
  ></div>
  
  <div input-text
    data-switch="false"
    data-vm="fbzpVm"
    data-label="职位名称"
    data-name="position"
    data-required="true"
    data-form="fbzpForm"
    data-pattern="/^[\u4e00-\u9fa5a-zA-Z0-9\-\_]{2,10}$/"
    data-tip='请填写此职位'
    data-error="职位名称必须在2-10个字符之间"
  ></div>
   <div nodatas-Area
        data-vm="fbzpVm"
        data-label="所在地"
        data-required="true"
        data-name="area"
        data-map="true"
   ></div>
   <!--<div input-text
    data-switch="false"
    data-vm="fbzpVm"
    data-label="详细地址"
    data-name="addr"
    data-required="true"
    data-form="fbzpForm"
    data-pattern="/^[\u4e00-\u9fa5a-zA-Z0-9\-\_]{2,50}$/"
    data-tip='请填写此职位的详细地址'
    data-error="详细地址必须在2-50个字符之间"
  ></div>-->
   <div baidumap data-vm="fbzpVm" data-name="addr" data-required="true" data-label="详细地址" data-pattern=""></div>
   <div input-text
    data-switch="false"
    data-vm="fbzpVm"
    data-label="语言要求"
    data-name="language"
    data-required="true"
    data-form="fbzpForm"
    data-pattern="/^[\u4e00-\u9fa5a-zA-Z0-9\-\_]{2,20}$/"
    data-tip='请填写此职位的语言要求'
    data-error="语言要求必须在2-20个字符之间"
  ></div>
  
  <div select-simple
    data-switch="false"
    data-vm="fbzpVm"
    data-label="工作性质"
    data-name="property"
    data-options="item for item in fbzpVm.jobCategory"
    data-part="text"
    data-required="true"
  ></div>
  
  <div select-simple
    data-switch="false"
    data-vm="fbzpVm"
    data-label="薪资范围"
    data-name="salary"
    data-options="item for item in fbzpVm.salary"
    data-part="text"
    data-required="true"
  ></div>
  
  <div select-simple
    data-switch="false"
    data-vm="fbzpVm"
    data-label="工作经验"
    data-name="experi"
    data-options="item for item in fbzpVm.exprience"
    data-part="text"
    data-required="true"
  ></div>
  
  <div select-simple
    data-switch="false"
    data-vm="fbzpVm"
    data-label="学历要求"
    data-name="educat"
    data-options="item for item in fbzpVm.education"
    data-required="false"
  ></div>
  
  <div input-text
    data-switch="false"
    data-vm="fbzpVm"
    data-label="职位诱惑"
    data-name="tempt"
    data-required="true"
    data-form="fbzpForm"
    data-pattern="/^[\u4e00-\u9fa5a-zA-Z0-9\-\_\、\,]{2,10}$/"
    data-tip='请填写此职位诱惑'
    data-error="职位名称必须在2-10个字符之间,不能包含特殊字符"
  ></div>
  
  <div text-area
    data-switch="false"
    data-vm="fbzpVm"
    data-label="职位描述"
    data-name="detail"
    data-required="true"
    data-form="fbzpForm"
    data-pattern=""
    data-tip='职位描述必须在4-200个字符之间'
    data-error="职位描述必须在4-200个字符之间"
  ></div>
  
  <div select-double-numbers
    data-switch="false"
    data-vm="fbzpVm"
    data-label="年龄"
    data-first="minage"
    data-second="maxage"
    data-required="true"
  ></div>
  <div class="formGourp formGourp--submit clearfix">
          <input class="formBtn formBtn--submit" type="submit" value="{{fbzpVm.submitText}}"
            ng-disabled="fbzpForm.$invalid || fbzpVm.isDisabled"
          >
        </div>
</form>

<div modal
  data-vm = "fbzpVm"
  data-url="/zplb/published"
></div>

<!--<div list
  data-vm="fbzpVm"
  data-api="/HRTdjl/List"
  data-datekey="licgsj"
  data-operate="true"
  data-operation="删除"
  data-func="save(item.userid)"
></div>-->

