<form name="detailForm">
  <div web-uploader
  data-vm="detailVm"
  data-label="商品主图1"
  data-name="img1"
  data-required="true"
  data-key="o2o"
  data-size="400x400"
  ng-model="detailVm.data.img1"
  ></div>
  <div web-uploader
  data-vm="detailVm"
  data-label="商品主图2"
  data-name="img2"
  data-key="o2o"
  data-size="400x400"
  ng-model="detailVm.data.img2"
  ></div>
  <div web-uploader
  data-vm="detailVm"
  data-label="商品主图3"
  data-name="img3"
  data-key="o2o"
  data-size="400x400"
  ng-model="detailVm.data.img3"
  ></div>
  <div web-uploader
  data-vm="detailVm"
  data-label="商品主图4"
  data-name="img4"
  data-key="o2o"
  data-size="400x400"
  ng-model="detailVm.data.img4"
  ></div>
  <div input-text
  data-form="detailForm"
  data-vm="detailVm"
  data-label="产品标题"
  data-name="name"
  data-required="true"
  data-switch="false"
  data-tip='请填写产品标题'
  data-pattern=""
  ></div>
    <div input-text
  data-form="detailForm"
  data-vm="detailVm"
  data-label="门店价"
  data-name="storePrice"
  data-required="true"
  data-switch="false"
  data-pattern=""
  ></div>
  <div input-text
  data-form="detailForm"
  data-vm="detailVm"
  data-label="价格"
  data-name="price"
  data-required="true"
  data-switch="false"
  data-tip='请填写价格'
  data-pattern=""
  ></div>
  <div select-simple
  data-vm="detailVm"
  data-form="detailForm"
  data-label="分类"
  data-name="firType"
  data-required="true"
  data-switch="false"
  data-part="text"
  data-options="item.id as item.name for item in detailVm.type"
  ></div>
  <div select-simple
  data-vm="detailVm"
  data-form="fbForm"
  data-label="二级分类"
  data-name="type"
  data-required="true"
  data-switch="false"
  data-part="text"
  data-options="item.id as item.name for item in detailVm.secType"
  ></div>
  <div ng-repeat="photo in detailVm.photos" class="addphoto">
    <div web-uploader 
    data-vm="detailVm"
    data-label="产品描述"
    data-name="url"
    data-size="960x960"
    data-key="o2o"
    data-isrepeatitem="true"
    data-repeatitem="photo"
    ng-model="photo.url"
    ></div>
    <button class="formSet_input_btn addphoto_del_btn" ng-hide="$index===0" ng-click="detailVm.delphoto($index)">删除</button>
  </div>
</form>