<div class="list_item_none" ng-if="!gfbVm.isfuws" ng-cloak>
  请先申请为服务商
</div>

<form name="gfbForm" ng-submit="gfbVm.submit()" ng-if="gfbVm.isfuws" ng-cloak>
   <div web-uploader
      data-vm="gfbVm"
      data-label="项目封面"
      data-name="img"
      data-key="uc"
      data-size='310x310'
      ng-model="gfbVm.data.img"
    ></div>
   <div input-text
      data-switch="false"
      data-vm="gfbVm"
      data-label="产品标题"
      data-name="title"
      data-required="true"
      data-form="gfbForm"
      data-pattern="/^[\u4e00-\u9fa5a-zA-Z0-9\-\_]{2,30}$/"
      data-tip='请填写此产品标题'
      data-error="职位名称必须在2-30个字符之间"
  ></div>
   <div select-area
      data-switch="false"
      data-vm="gfbVm"
      data-label="所在地"
      data-name="area"
      data-required="false"
    ></div>  
   <div input-text
      data-switch="false"
      data-vm="gfbVm"
      data-label="详细地址"
      data-name="address"
      data-required="true"
      data-form="gfbForm"
      data-pattern="/^[\u4e00-\u9fa5a-zA-Z0-9\-\_]{2,30}$/"
      data-tip='请填写此详细地址'
      data-error="职位名称必须在2-30个字符之间"
  ></div>
   <div text-area
      data-switch="false"
      data-vm="gfbVm"
      data-label="产品卖点"
      data-name="desc"
      data-required="true"
      data-form="gfbForm"
      data-pattern="/^.{4,200}$/"
      data-tip='请输入此产品卖点'
      data-error="产品卖点必须在4-200个字符之间,不能包含特殊字符"
  ></div>
   <div input-text
      data-switch="false"
      data-vm="gfbVm"
      data-label="价格"
      data-name="price"
      data-required="true"
      data-form="gfbForm"
      data-pattern="/^[1-9]\d*(\.\d{1,2}$|$)/"
      data-tip='请填写价格'
      data-error="价格格式错误或超出限制"
  ></div>
    <div select-simple
      data-switch="false"
      data-vm="gfbVm"
      data-label="分类"
      data-name="type"
      data-options="item.name for item in gfbVm.category"
      data-required="true"
    ></div>
   <div class="formSet clearfix">
      <label class="formLabel">规格</label>
       <span class="skuTip">填写类型，如颜色。填写分类，多个分类用";"隔开，如：白色;绿色;黑色。</span>
       <ul class="formSetWrap formSetWrap-sku clearfix">
         <li class="skuItem clearfix formGourp_wrap" ng-repeat="sku in gfbVm.skuTemp">
           <input class="formSet_input formSet_input-extrasmall" type="text" ng-model="sku.name" required>
           <input class="formSet_input" type="text" ng-model="sku.content" required>
           <button class="formSet_input_btn del formBtn" type="button" ng-click="gfbVm.skuTemp.splice($index, 1)">删除</button>
         </li>
        </ul>
        <button class="formSet_input_btn formSet_input_btn-sku formBtn" type="button" ng-click="gfbVm.addSku()">添加规格类型</button>
   </div>
   <div input-text
      data-switch="false"
      data-vm="gfbVm"
      data-label="库存数量"
      data-name="inventory"
      data-required="true"
      data-form="gfbForm"
      data-pattern="/^[1-9]\d*$/"
      data-tip='请填写库存数量'
      data-error="请填写大于0的数字"
  ></div>
   <div rich-text
      data-vm="gfbVm"
      data-label="产品描述"
      data-name="text"
     data-required="true"
     data-keyname="srdz"
     data-size="800x800"
      ng-model="gfbVm.data.text"
   ></div>
   <div class="formSet formSet-agreement clearfix">
     <div class="formSetWrap">
        <label class="formLabel"><span class="formSet_required">*</span></label>
        <p class="formGroup_edit">
          <input class="agreement" type="checkbox" ng-model="gfbVm.data.verification" required>
          <label>是否同意《<a href="#">梦高速众包服务协议</a>》</label>
        </p>
     </div>
   </div>
   <div class="formGourp formGourp--submit clearfix">
     <input class="formBtn formBtn--submit" type="submit" value="{{gfbVm.submitText}}"
      ng-disabled="gfbForm.$invalid || gfbVm.isDisabled">
   </div>
</form>
    <div modal
      data-vm = "gfbVm"
      data-url="/gyfb"
    ></div>
