<div class="list_item_none" ng-if="!gfbVm.isfuws" ng-cloak>
  请先申请为服务商
</div>

<form name="gfbForm" ng-submit="gfbVm.submit()" ng-if="gfbVm.isfuws" ng-cloak>
   <div web-uploader
      data-vm="gfbVm"
      data-label="个人头像"
      data-name="img"
      data-key="uc"
      data-size='310x310'
      ng-model="gfbVm.data.img"
    ></div>
   <div input-text
      data-switch="false"
      data-vm="gfbVm"
      data-label="话题名称"
      data-name="title"
      data-required="true"
      data-form="gfbForm"
      data-pattern="/^.{2,50}$/"
      data-tip='请填写此话题名称'
      data-error="话题名称必须在2-25个字之间"
  ></div>
   <div select-area
      data-switch="false"
      data-vm="gfbVm"
      data-label="所在地"
      data-name="area"
      data-required="true"
    ></div>     
   <div text-area
      data-switch="false"
      data-vm="gfbVm"
      data-label="个人头衔"
      data-name="desc"
      data-required="true"
      data-form="gfbForm"
      data-pattern="/^.{4,200}$/"
      data-tip='请输入此个人头衔'
      data-error="个人头衔必须在4-200个字符之间,不能包含特殊字符"
      data-placeholder="一句话描述您的公司职位或从业经历。"
  ></div>
   <div input-text
      data-switch="false"
      data-vm="gfbVm"
      data-label="价格"
      data-name="price"
      data-required="true"
      data-form="gfbForm"
      data-pattern="/^[1-9]\d*(\.\d{1,2}$|$)/"
      data-tip='请填写价格'
      data-error="价格格式错误或超出限制"
  ></div>
    <div select-simple
      data-switch="false"
      data-vm="gfbVm"
      data-label="分类"
      data-name="type"
      data-options="item.name for item in gfbVm.category"
      data-required="true"
    ></div>
    <div myj-sku
     data-vm="gfbVm"
     data-form="gfbForm"
     data-label="产品规格"
  ></div>   
   <div rich-text
      data-vm="gfbVm"
      data-label="话题描述"
      data-name="text"
     data-required="true"
     data-keyname="srdz"
     data-size="800x800"
     data-placeholder="描述您的话题概要，以及个人简介。"
      ng-model="gfbVm.data.text"
   ></div>
   <div class="formSet formSet-agreement clearfix">
     <div class="formSetWrap">
        <label class="formLabel"><span class="formSet_required">*</span></label>
        <p class="formGroup_edit">
          <input class="agreement" type="checkbox" ng-model="gfbVm.data.verification" required>
          <label>是否同意《<a href="http://www.dreamhiway.com/Xieyi/srdzxieyi.html">梦高速私人定制服务协议</a>》</label>
        </p>
     </div>
   </div>
   <div class="formGourp formGourp--submit clearfix">
     <input class="formBtn formBtn--submit" type="submit" value="{{gfbVm.submitText}}"
      ng-disabled="gfbForm.$invalid || gfbVm.isDisabled">
   </div>
</form>
    <div modal
      data-vm = "gfbVm"
      data-url="/gyfb"
    ></div>
