<!--众包雇佣者管理页面-->
<div zb-tabs 
     data-repeat="item in gyzVm.listTabs"
     data-vm="gyzVm"
>
</div>
<!--<div ui-view></div>-->
<div list
     data-vm="gyzVm"
     data-api="/zbfb/ZbDetail"
     data-datekeytxt="发布时间"
     data-datekey="time"
     data-operate="true"
     data-operation="雇佣"
     data-editurl="javascript:;"
     data-func="gy(item.id)"
     data-link="{{ vm.dhw.urlfj }}"
     data-operate2="true"
     data-operation2="联系威客"
     data-editurl2="{{vm.dhw.mainurl}}apphome#/email/write?to={{item.name}}"
     data-operate5="true"
     data-func5="hasdone(item.id, item.duid, item.unitprice, item.name)"
     data-projectname="false"
></div>