<!--个人已发布项目查询-->
<div list
     data-vm="pyfbVm"
     data-api="/CysjFb/List"
     data-operate="true"
     data-operation="查看投稿者"
     data-editurl="#/cyfblist/{{item.id}}"
     data-editurl2="javascript:void(0)"
     data-operate2="true"
     data-operation2="资金托管"
     data-func2="zjtg(item.id)"
     data-operate3="true"
     data-operation3="完成"
     data-func3="complete(item.id)"
     data-editurl3="javascript:;"
     data-projectname="false"
     data-preview="true"
     data-previewurl="{{vm.dhw.urldiy}}detail/{{item.id}}"
     data-previewtext="预览"
></div>