:root {
  --theme: #06c1ae;
  --light: #eaeaea;
}

.dinfo {
  border: 1px solid var(--light);
}
.dinfo > div {
  float: left;
}
.dinfo_l {
  width: 338px;
  padding: 30px;
  border-right: 1px solid var(--light);
}
.dinfo_r {
  position: relative;
  width: 799px;
}

.dinfo_img {
  width: 338px;
  height: 338px;
  overflow: hidden;
}
.dinfo_img img {
  width: 100%;
}
.dinfo_imgList {
  margin-top: 35px;
}
.dinfo_imgItem {
  float: left;
  margin-right: 30px;
  cursor: pointer;
}
.dinfo_imgItem:last-child {
  margin-right: 0;
}
.dinfo_imgItem img {
  display: block;
  width: 60px;
  height: 60px;
  border: 1px solid var(--light);
}
.dinfo_imgItem.is_active img {
  border-color: var(--theme);
}

.dinfo_ttl h1 {
  padding: 20px;
  border-bottom: 1px solid #e2d2dd;
  margin: 0;
  font-size: 18px;
  line-height: 1.5;
  color: #555;
}

.dinfo_main {
  float: left;
  width: 585px;
  border-right: 1px solid var(--light);
}
.dinfo_price {
  padding: 10px 20px;
  background: #ff7a00;
  font-size: 14px;
  color: #fff;
  line-height: 40px;
}
.dinfo_oprice span,
.dinfo_sprice span {
  margin-left: 20px;
}
.dinfo_oprice span {
  text-decoration: line-through;
}
.dinfo_sprice span {
  font-size: 24px;
}

.dinfo_options {
  min-height: 245px;
  padding: 1em 0;
  font-size: 14px;
}
.dinfo_option {
  margin: 8px 0;
}
.dinfo_option_count,
.dinfo_option_name,
.dinfo_option_cont {
  display: inline-block;
  vertical-align: top;
}
.dinfo_option_name {
  width: 95px;
  margin-right: 15px;
  line-height: 28px;
  text-align: right;
}
.dinfo_option_count {
  width: 120px;
  margin-left: 15px;
  line-height: 28px;
}
.dinfo_option dd {
  float: left;
}
.dinfo_option_cont dd {
  position: relative;
  height: 26px;
  padding: 0 .6em;
  border: 1px solid #e5e5e5;
  margin: 0 1em 1em 0;
  font-size: 14px;
  line-height: 26px;
  cursor: pointer;
}
.dinfo_option_cont dd.is_selected {
  border: 1px solid #2aa899;
}
.dinfo_option_cont dd.is_selected:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 18px;
  height: 15px;
  background: url("../img/selected.png") no-repeat;
}

.dinfo_option_cont input,
.dinfo_option_cont button {
  float: left;
  height: 26px;
  border: 1px solid var(--light);
}
.dinfo_option_cont input {
  width: 3em;
  line-height: 26px;
  text-align: center;
}
.dinfo_option_cont button  {
  width: 28px;
  height: 28px;
  background: #fff;
  box-shadow: inset #efefef 1px 1px 2pc;
  color: #666;
}
.dinfo_option_cont button:nth-child(3) {
  margin-left: -14px;
}

.dinfo_option.ensure {
  margin: 20px 0;
}
.dinfo_ensure {
  float: left;
  margin-right: 1em;
  line-height: 28px;
}
.dinfo_ensure i {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-right: .4em;
}
.bz i {
background: url("../img/myj_bzicon1.png") no-repeat;
}
.pc i {
background: url("../img/myj_bzicon2.png") no-repeat;
}
.fh i {
background: url("../img/myj_bzicon3.png") no-repeat;
}

.dinfo_btns {
  text-align: center;
}
.dinfo_btns button {
  width: 132px;
  height: 40px;
  border: 0;
  background: var(--theme);
  color: #fff;
  cursor: pointer;
  transition: opacity .2s ease-in-out;
}
.dinfo_btns button:first-child {
  background: #ff9a9a;
  margin-right: 1.4em;
}
.dinfo_btns button:hover {
  opacity: .7;
}

.dinfo_bar {
  border-top: 1px solid var(--light);
  text-align: right;
}
.dinfo_bar a {
  position: relative;
  display: inline-block !important;
  margin: 0 !important;
  margin-right: 1em !important;
  padding-left: 1em !important;
  line-height: 2 !important;
  color: var(--theme) !important;
  text-decoration: none !important;
}
.dinfo_bar a::before {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -6px;
  background: url("../img/detailicon.png") no-repeat 0 -32px;
}
.dinfo_bar span a::before {
  background-position: 0 -20px;
}
.bdsharebuttonbox {
  display: inline-block;
}
.bdsharebuttonbox::after {
  display: none !important;
}
.bds_more {
  height: auto !important;
  float: none !important;
  background: none !important;
  font-size: 16px !important;
}

.dinfo_aside {
  float: left;
  width: 180px;
  padding: 20px 16px;
}
.dinfo_avatar {
  text-align: center;
}
.dinfo_avatar img {
  width: 100px;
  height: 100px;
  border: 1px solid var(--light);
}
.dinfo_name {
  margin: .4em 0;
  text-align: center;
  font-weight: normal;
  line-height: 1;
  height: 36px;
}
.dinfo_name a {
  font-size: 14px;
  color: #333;
  text-decoration: none;
}
.dinfo_links {
  text-align: center;
  margin-bottom: 1em;
}
.dinfo_link {
  padding: .2em .5em;
  border: 1px solid #f74b0c;
  font-size: 12px;
  color: #f74b0c;
  text-decoration: none;
  transition: all .2s ease-in-out;
}
.dinfo_link:first-child {
  margin-right: .5em;
}
.dinfo_link:hover {
  background: #f74b0c;
  color: #fff;
}
.dinfo_para {
  font-size: 12px;
  margin: .4em 0;
}
.dinfo_para span {
  display: inline-block;
  vertical-align: top;
}
.dinfo_para span:last-child {
  width: 110px;
  color: #666;
}
.map {
  width: 180px;
  height: 115px;
  border: 1px solid var(--light);
}


.ddetail {
  margin-top: 20px;
}
.ddetail_l {
  float: left;
  width: 985px;
  border: 1px solid var(--light);
}
.ddetail_r {
  float: right;
  width: 208px;
  border: 1px solid var(--light);
}
.ddetail_ttl {
  height: 36px;
  padding-left: 20px;
  border-bottom: 1px solid var(--light);
  font-weight: normal;
  font-size: 14px;
  line-height: 36px;
}
.ddetail_l_cont {
  /*text-align: center;*/
}
.ddetail_l_cont img {
  display: block;
  margin: 0 auto;
  width: 960px;
  margin-bottom: 30px;
}
.ddetail_r_list {
  padding: 20px 25px 0;
}
.ddetail_r_list_item {
  margin-bottom: 20px;
  text-align: center;
}
.ddetail_r_list_item img {
  width: 160px;
  height: 140px;
  border: 1px solid var(--light);
  transition: border .5s ease-in-out;
}
.ddetail_r_list_item img:hover {
  border-color: #000;
}
.ddetail_r_list_item p a {
  display: inline-block;
  width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  color: #666;
  line-height: 2;
  text-decoration: none;
}
.dinfo_slide {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border:2px solid #2aa899;
}

/*详情信息切换*/
.ddetail_ttl span {
  display: inline-block;
  height: 100%;
  cursor: pointer;
}
.has-borderBut {
  border-bottom: 1px solid #666;
}
.ddetail_ttl_text {
  margin-left: 20px;
}
.no-align {
  padding: 0 20px;
  text-align: left;
}

/*商家信息*/
.ddetail_cont_select,
.ddetail_cont_select select,
.ddetail_cont_list_item_info {
  font-size: 14px;
}
.ddetail_cont_select {
  height: 36px;
  line-height: 36px;
  border-bottom: 1px dotted #ccc;
}
.ddetail_cont_select select {
  margin-right: 10px;
  
  color: #555;
}
.ddetail_cont_list li {
  display: inline-block;
  width: 40%;
  margin: 10px 24px;
  padding: 10px 20px;
  border: 1px solid var(--light);
}
.ddetail_cont_list li:hover {
  border: 2px solid #666;
}
.ddetail_cont_list li p {
  padding: 5px 0;
}
.ddetail_cont_list_item_name {
  font-weight: bold;
}
.ddetail_cont_list_item_info {
  color: #666;
}
