@import './unslider.css';
@import './unslider-dots.css';

:root {
  --theme: #06c1ae;
  --light: #eaeaea;
}

.header {
  width: 1200px;
  margin: 38px auto 0;
}
.header_logo {
  float: left;
}

.header_cart {
  float: right;
}
.header_cart a {
  display: block;
  position: relative;
  width: 151px;
  height: 40px;
  background: url("../img/gouwuche.png") no-repeat;
  transition: opacity .3s ease-in-out;
}
.header_cart a:hover {
  opacity: .7;
}
.header_cart_count {
  position: absolute;
  right: 10px;
  top: -16px;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background: var(--theme);
  font-size: 12px;
  color: #fff;
  line-height: 20px;
  text-align: center;
}
.header_cart_count::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -3px;
  border-width: 3px 3px 0;
  border-style: solid;
  border-color: var(--theme) transparent transparent;
  margin-left: -3px;
}

.header_search {
  margin-left: 400px;
}
.header_searchbox {
  height: 40px;
}
.header_searchbox * {
  float: left;
}
.header_searchbox [type=search] {
  width: 344px;
  height: 36px;
  border: 2px solid var(--theme);
  padding: 0 16px;
  transition: border .3s ease-in-out;
}
.header_searchbox [type=search]:focus {
  border-color: rgba(6, 193, 174, .7);
}
.header_searchbox button {
  width: 84px;
  height: 40px;
  border: 0;
  background: var(--theme);
  color: #fff;
  transition: opacity .3s ease-in-out;
}
.header_searchbox button:hover {
  opacity: .7;
}
.header_searchbox button:last-child {
  margin-left: 6px;
}
.header_searchHot a {
  display: inline-block;
  margin-right: 1em;
  font-size: 13px;
  color: #bbb;
  line-height: 2;
  text-decoration: none;
  transition: color .3s ease-in-out;
}
.header_searchHot a:hover {
  color: var(--theme);
}
/* 导航 */
.naviWrap {
  border-bottom: 2px solid var(--theme);
}
.navi {
  position: relative;
  z-index: 1;
  width: 1200px;
  margin: 15px auto 0;
}
.navi_area,
.navi_main {
  float: left;
}
.navi_area {
  position: relative;
  width: 205px;
  height: 42px;
  background: var(--theme);
  font-size: 14px;
  color: #fff;
  line-height: 42px;
}
.navi_area > i {
  display: inline-block;
  width: 17px;
  height: 18px;
  background: url("../img/icon.png") no-repeat;
  vertical-align: middle;
  margin: 0 .8em 0 1.2em;
}
.navi_area_list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 185px;
  height: 430px;
  padding: 10px;
  border-top: 2px solid #434343;
  background: #2b2b2b;
}
.navi_area:hover .navi_area_list,
.navi_area_list.is_static {
  display: block;
}
.navi_area_list li {
  float: left;
  width: 33.3333%;
  text-align: center;
  line-height: 2.5;
}
.navi_area_list a {
  font-size: 12px;
  color: #fff;
  text-decoration: none;
}

.navi_main_item {
  float: left;
  position: relative;
  margin-left: 1.5em;
}
.navi_main_item a {
  display: block;
  padding: 0 .6em;
  line-height: 42px;
  color: #333;
  text-decoration: none;
  transition: color .3s ease-in-out;
}
.navi_main_item.is_active a,
.navi_main_item a:hover {
  color: var(--theme);
}
.navi_main_item.red a {
  color: red;
}
.navi_main_item.hot::after,
.navi_main_item.new::after {
  content: "";
  position: absolute;
  top: 0;
  right: -7px;
  width: 14px;
  height: 14px;
  background: url("../img/icon.png") no-repeat;
}
.navi_main_item.hot::after {
  background-position: 0 -22px
}
.navi_main_item.new::after {
  background-position: 0 -41px
}

.navi_enter {
  position: absolute;
  right: 0;
  bottom: 0;
}

.b_wrapper {
  position: relative;
  height: 450px;
  overflow: hidden;
}
.unslider-nav {
  position: absolute;
  bottom: 10px;
  left: 50%;
  border-radius: 5px;
  background: rgba(0, 0, 0, .1);
  margin-left: 36px;
}
.b_news {
  position: absolute;
  top: 0;
  left: 50%;
  width: 234px;
  padding: 15px 10px;
  background: rgba(245, 245, 245, .7);
  margin-left: 346px;
}
.b_news_ttl {
  font-size: 16px;
  margin-bottom: 1em;
}
.b_news_ttl small {
  margin-left: .4em;
  font-weight: normal;
  font-size: 14px;
  color: #fe5842;
}
.b_news ol li {
  border-bottom: 1px solid #fff;
}
.b_news ol li a {
  display: block;
  width: 100%;
  font-size: 12px;
  color: #333;
  line-height: 3;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.b_news ol li a:hover {
  color: var(--theme);
}

.b_news_foot {
  margin-top: 15px;
}
.b_news_foot a {
  display: inline-block;
}
.b_news_foot_text {
  float: right;
  width: 49%;
  height: 72px;
  background: var(--theme);
  color: #fff;
  line-height: 72px;
  text-decoration: none;
  text-align: center;
}
.b_news_foot_text:first-child {
  float: left;
}
.b_news_foot_img {
  clear: both;
  margin-top: 10px;
}

.content {
  width: 1200px;
  margin: 0 auto;
}
.rcmd_l,
.rcmd_ml,
.rcmd_mr,
.rcmd_r {
  float: left;
}
.rcmd img {
  display: block;
}
.rcmd {
  height: 400px;
  border: 1px solid var(--light);
}
.rcmd h5 {
  margin: 0 1em;
  line-height: 35px;
  text-align: center;
  border-bottom: 1px dashed var(--light);
  margin-bottom: 3px;
}
.rcmd_l img {
  height: 400px;
}

.rcmd_ml,
.rcmd_mr {
  border: 1px solid var(--light);
  border-top: 0;
  border-bottom: 0;
  height: 100%;
}
.rcmd_mr {
  width: 400px;
  border-left: 0;
}
.rcmd_ml {
  width: 228px;
}
.rcmd_m_t {
  width: 100%;
  height: 200px;
  border-bottom: 1px solid var(--light);
}
.rcmd_m_b {
  width: 100%;
  height: 160px;
}
.rcmd_mr .rcmd_m_b {
  width: 200px;
  float: left;
}
.rcmd_mr .rcmd_m_b:first-child {
  width: 199px;
  border-right: 1px solid var(--light);
}
.rcmd_r {
  width: 155px;
  padding: 12px 10px;
}
.rcmd_r div {
  float: left;
}
.rcmd_r div:first-child {
  border-right: 1px dashed var(--light);
}
.rcmd_r a {
  display: block;
  padding: 2px 0;
  border-bottom: 1px dashed var(--light);
}
.rcmd_r a:last-child {
  border: 0;
}
.rcmd_r img {
  width: 77px;
}


.sort {
    margin: 2.4em 0;
}
.sort_header {
  border-bottom: 1px solid var(--theme);
}
.sort_header_ttl {
  float: left;
  line-height: 38px;
}
.sort_header_ttl i {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 1em;
  background: url("../img/icon.png") no-repeat;
  vertical-align: middle;
}
#sort_1 .sort_header_ttl i {
  background-position: 0 -81px;
}
#sort_2 .sort_header_ttl i {
  background-position: 0 -207px;
}
#sort_3 .sort_header_ttl i {
  background-position: 0 -141px;
}
#sort_4 .sort_header_ttl i {
  background-position: 0 -119px;
}
#sort_5 .sort_header_ttl i {
  background-position: 0 -184px;
}
#sort_6 .sort_header_ttl i {
  background-position: 0 -99px;
}
#sort_7 .sort_header_ttl i {
  background-position: 0 -163px;
}
.sort_header_ttl a {
  text-decoration: none;
  color: var(--theme);
}
.sort_list {
  float: right;
  border-bottom: 0;
  margin-right: 2px;
  margin-bottom: -1px;
}
.sort_list li {
  float: left;
  border: 1px solid var(--light);
  border-left: 0;
  border-bottom: 0;
  width: 94px;
  font-size: 14px;
  color: #333;
  line-height: 38px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
.sort_list li:first-child {
  border-left: 1px solid var(--light);
}
.sort_list li.is_active {
  border: 1px solid var(--theme);;
  border-bottom: 1px solid #fff;
}

.sort_show,
.sort_items {
  float: left;
}

.sort_show {
  width: 240px;
  background: var(--theme);
}
.sort_show_list {
  padding: 13px 10px 25px; /* 硬性计算的值，不太可靠 */
}
.sort_show_list li {
  float: left;
  width: 42%;
  margin-top: 13px;
  margin-left: 8%;
}
.sort_show_list li a {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}

.sort_items {
  display: none;
  width: 960px;
}
.sort_items.is_active {
  display: block;
}
.sort_item {
  float: left;
  width: 239px;
  border: 1px solid var(--light);
  border-top: 0;
  border-left: 0;
}
.sort_item p {
  padding: 0 10px;
  margin: 8px;
}
.sort_item_img {
  height: 192px;
  overflow: hidden;
}
.sort_item_img img {
  width: 100%;
  transition: margin .5s ease-in-out;
}
.sort_item_img img:hover {
  margin-top: -47px;
}
.sort_item_ttl a {
  display: block;
  width: 100%;
  font-weight: bold;
  font-size: 14px;
  color: #333;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.sort_item_price {
  color: #fe5842;
}
.sort_item_oprice {
  font-size: 12px;
  color: #999;
}


/* 浮动栏*/
.aside {
  position: fixed;
  top: 250px;
  left: 50%;
  border: 1px solid var(--light);
  margin-left: -680px;
  background: #fff;
}
.aside div,
.aside_menu_item a {
  width: 38px;
  height: 38px;
  border-bottom: 1px solid var(--light);
  cursor: pointer;
}
.aside div {
  background: #66b7bf;
  font-size: 14px;
  color: #fff;
  line-height: 38px;
  text-align: center;
}
.aside_menu_item a {
  display: block;
  background: url("../img/shouye-icon.png") no-repeat;
}

/*浮动栏背景显隐*/
a.bg-hide {
  color: #000;
  font-size: 14px;
  text-align: center;
  background: none;
}

.fsj a {
  background-position: 0 -38px;
}
.smdq a {
  background-position: 0 -152px;
}
.yswh a {
  background-position: 0 -190px;
}
.msj a {
  background-position: 0 -76px;
}
.rycs a {
  background-position: 0 -114px;
}
.flj a {
  background-position: 0 0;
}
.qt a {
  background-position: 0 -228px;
  border-bottom: 0;
}
/* 底栏 */
.baozhang img {
  width: 100%;
}
