
.search {
  width: 1200px;
  margin: 30px auto 0;
}
.search_l {
  float: left;
  margin-right: 105px;
}
.search_m {
  float: left;
  width: 560px;
  margin-right: 80px;
}
.search_input {
  float: left;
  width: 378px;
  height: 38px;
  border: 1px solid #2aa899;
}
.search_btn {
  float: left;
  height: 40px;
  width: 85px;
  border: 0;
  margin-right: 5px;
  background-color: #2aa899;
  color: #fff;
}
.hot_item {
  float: left;
  padding: 0 10px;
}
.hot_item a {
  font-size: 13px;
  color: #999;
  text-decoration: none;
}
.search_r {
  position: relative;
  float: left;
}
.search_r span {
  position: absolute;
  top: -20px;
  right: 15px;
  padding: 2px 5px;
  background-color: #2aa899;
  color: #fff;
}
.search_r i {
  position: absolute;
  top: 4px;
  right: 20px;
  border-width: 5px 5px 0;
  border-style: solid;
  border-color: #2aa899 transparent transparent;
}
.myjnav {
  position: relative;
  width: 1200px;
  margin: 20px auto 0;
}
.myjnav_l {
  position: relative;
  float: left;
  width: 205px;
  height: 40px;
  margin-right: 20px;
  margin-top: 20px;
  line-height: 40px;
  font-size: 14px;
  color: #fff;
  background-color: #2aa899;
}
.myjnav_l i {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-left: 20px;
  background: url(../img/icon.png) no-repeat;
  vertical-align: text-top;
}
.myjnav_area {
  position: absolute;
  bottom: -450px;
  left: 0;
  width: 185px;
  height: 430px;
  padding: 10px;
  background-color: #000;
  color: #fff;
  font-size: 12px;
  z-index: 10;
}
.myjnav_area li {
  float: left;
  height: 20px;
  padding: 0 15px;
  margin-bottom: 15px;
  cursor: pointer;
}
.myjnav_area li a {
  color: #fff;
}
.myjnav_m {
  float: left;
  margin-top: 20px;
}
.myjnav_m_item {
  position: relative;
  float: left;
  height: 40px;
  line-height: 40px;
  padding: 0 18px;
}
.myjnav_m_item a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
}
.myjnav_m_item a:hover,
.myjnav_m_item-current a {
  color: #2aa899;
}
.myjnav_m_item i {
  position: absolute;
  top: 0;
  right: 0;
  width: 14px;
  height: 14px;
}
.myjnav_m_item-hot i {
  background: url(../img/icon.png) no-repeat 0 -22px;
}
.myjnav_m_item-new i {
  background: url(../img/icon.png) no-repeat 0 -41px;
}
.myjnav_m_r {
  float: right;
}
.slider_wrap {
  position: relative;
  width: 100%;
  height: 450px;
  border-top: 2px solid #000;
  overflow: hidden;
  z-index: 9;
}
.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 7680px;
  height: 450px;
}
.slide_item {
  float: left;
}
.slider {
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -44px;
}
.slider li {
  float: left;
  width: 12px;
  height: 12px;
  padding: 0 5px;
  background: url(../img/iconad.png) no-repeat -81px 0;
  cursor: pointer;
}
.slider .slider-current {
  background: url(../img/iconad.png) no-repeat;
}
.news_ttl {
  margin: 15px 0 25px;
  font-size: 16px;
}
.news_ttl span {
  color: #666;
}
.news_item {
  height: 30px;
  border-bottom: 1px solid #dccbd7;
  line-height: 30px;
}
.news_item a {
  display: inline-block;
  width: 170px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 12px;
  text-decoration: none;
  color: #000;
}
.news_item a:hover {
  color: #e70017;
}
.news_around {
  margin-bottom: 5px;
  margin-top: 20px;
}
.news_around li {
  position: relative;
  float: left;
  width: 112px;
  height: 45px;
  padding-top: 25px;
  margin-right: 5px;
  text-align: center;
  vertical-align: middle;
  font-size: 16px;
  color: #666;
  background-color: #dae4e9;
  cursor: pointer;
}
.news_around i {
  position: absolute;
  top: 12px;
  right: 10px;
  width: 14px;
  height: 14px;
}
.news_around .news_around-last {
  margin-right: 0;
}
.propaganda {
  width: 1200px;
  border: 1px solid #beabbb;
  margin: 35px auto 45px;
}
.propaganda_l,
.propaganda_m {
  float: left;
  border-right: 1px solid #e7d8e2;
}
.propaganda_l img {
  width: 394px;
  height: 403px;
}
.propaganda_m {
  height: 407px;
}
.propaganda_ttl {
  height: 35px;
  border-bottom: 1px dashed #d6c6d2;
  margin: 0 18px;
  line-height: 35px;
  text-align: center;
  font-size: 14px;
}
.propaganda_m_l {
  float: left;
  width: 228px;
  height: 407px;
  border-right: 1px solid #e7d8e2;
}
.propaganda_m_l_t img {
  width: 228px;
  height: 205px;
}
.propaganda_m_l_b img {
  width: 228px;
  height: 153px;
}
.propaganda_m_l_t,
.propaganda_m_r_t {
  border-bottom: 1px solid #e7d8e2;
}
.propaganda_m_r {
  float: left;
  width: 404px;
}
.propaganda_m_r_t img {
  width: 404px;
  height: 205px;
}
.propaganda_m_r_b img {
  float: left;
  width: 201px;
  height: 159px;
  border-right: 1px solid #e7d8e2;
}
.propaganda_m_r_b .propaganda_m_r_b_last {
  border: 0;
}
.propaganda_r {
  float: left;
  padding: 10px;
}
.propaganda_r ul {
  float: left;
}
.propaganda_r_l {
  border-right: 1px dashed #d6c6d2;
}
.propaganda_r li {
  border-bottom: 1px dashed #d6c6d2;
}
.propaganda_r .propaganda_r_l-last {
  border: 0;
}
.propaganda_r img {
  width: 75px;
  height: 51px;
}
.myj_content {
  width: 1200px;
  margin: 0 auto;
}
.myj_content_ttl_l {
  float: left;
  height: 45px;
  line-height: 45px;
  margin: 0;
  font-size: 22px;
  color: #4b7fcf;
}
.myj_content_ttl_l i {
  display: inline-block;
  width: 9px;
  height: 16px;
  margin: 0 20px 0 5px;
  background: url(../img/icon.png) no-repeat 0 -60px;
}
.myj_content_ttl_r {
  float: right;
  height: 43px;
  border: 1px solid #dac9d5;
  border-bottom: 0;
}
.myj_content_ttl {
  height: 45px;
  border-bottom: 1px solid #4b7fcf;
}
.myj_content_ttl_r li {
  float: left;
  height: 22px;
  padding: 10px 0;
  cursor: pointer;
}
.myj_content_ttl_r span {
  padding: 0 20px;
  border-right: 1px solid #dac9d5;
  font-size: 14px;
}
.myj_content_ttl_r-last span {
  border: 0;
}
.myj_content_ttl_r .myj_content_ttl_r-current {
  border-top: 2px solid #4b7fcf;
  border-right: 1px solid #4b7fcf;
  border-left: 1px solid #4b7fcf;
  border-bottom: 1px solid #fff;
}
.myj_content_cont_l {
  float: left;
  width: 240px;
}
.myj_content_cont_r {
  float: left;
  width: 960px;
}
.myj_content_cont_l img {
  display: block;
}
.myj_content_cont_l ul {
  padding: 30px 0 0 25px;
  width: 215px;
  height: 90px;
  background-color: #f1d3c5;
}
.myj_content_cont_l li {
  float: left;
  width: 100px;
  margin-bottom: 15px;
  font-size: 14px;
}
.myj_content_item {
  float: left;
  width: 239px;
  border-right: 1px solid #dac9d5;
  border-bottom: 1px solid #dac9d5;
}
.myj_content_item img {
  width: 239px;
  height: 190px;
}
.myj_content_item h1 {
  width: 239px;
  height: 25px;
  margin: 0;
  padding-left: 10px;
  line-height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  color: #444;
}
.myj_content_item_price {
  height: 25px;
  line-height: 25px;
  padding-left: 10px;
  font-size: 16px;
  color: #fe5842;
}
.myj_content_item_jg {
  height: 24px;
  line-height: 24px;
  padding-left: 10px;
  font-size: 12px;
  color: #999;
}

.myj_main {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

.fixDiv {
  position: absolute;
  top: -20px;
  left: -70px;
  border: 1px solid #cebcca;
}
.fixDiv span {
  display: inline-block;
  width: 38px;
  height: 40px;
  border-bottom: 1px solid #cebcca;
  font-size: 14px;
  line-height: 40px;
  background-color: #66b7bf;
  color: #fff;
  text-align: center;
  cursor: pointer;
}
.fixUl {
  width: 38px;
}
.fixUl_item {
  width: 38px;
  height: 38px;
  border-bottom: 1px solid #cebcca;
  background: url(../img/shouye-icon.png) no-repeat;
  cursor: pointer;
}
.fsj {
  background-position: 0 -38px;
}
.smdq {
  background-position: 0 -152px;
}
.yswh {
  background-position: 0 -190px;
}
.msj {
  background-position: 0 -76px;
}
.rycs {
  background-position: 0 -114px;
}
.flj {
  background-position: 0 0;
}
.qt {
  background-position: 0 -228px;
  border-bottom: 0;
}
.zxdt {
  position: absolute;
  top: 30px;
  left: 50%;
  width: 1200px;
  margin-left: -600px;
}
.myjnews {
  float: right;
  height: 400px;
  padding: 0 10px;
  background: rgba(255, 255, 255, 0.4);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#66ffffff',endColorstr='#66ffffff');
  z-index: 10;
}