@import './index.css';
@import './store.css';




/*店铺*/
.myj_sort_choose {
  width: 1200px;
  height: 150px;
  margin: 20px auto;
  font-size: 14px;
  color: #333;
  border: 1px solid #ccc;
}
.sort_choose_area,
.sort_choose_style {
  height: 75px;
  line-height: 75px;
  padding-left: 28px;
}
.sort_choose_area {
  border-bottom: 1px solid #ccc;
}
.sort_choose_area span,
.sort_choose_style span {
  float: left;
  margin-right: 10px;
}
.sort_choose_style span {
  margin-left: 28px;
}
.sort_choose_area dt,
.sort_choose_style dt {
  float: left;
  width: 50px;
  height: 30px;
  margin: 20px 10px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  border-radius: 3px;
  background-color: #06c1ae;
  cursor: pointer;
}
.sort_choose_area dl,
.sort_choose_style dl {
  float: left;
  margin-right: 24px;
  cursor: pointer;
} 

.myj_result {
  width: 1200px;
  height: 36px;
  margin: 20px auto;
  background-color: #edeeee;
}
.paixu_all {
  display: block;
  float: left;
  margin: 1px;
  width: 120px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  font-size: 14px;
  color: #06c1ae;
  background-color: #fff;
  cursor: pointer;
}
.store_result {
  float: right;
  height: 36px;
  line-height: 36px;
  margin-right: 14px;
  font-size: 14px;
}
.store_rsult_num {
  display: inline-block;
  width: 40px;
  text-align: center;
  color: #fe2323;
}

/*内容*/
.myj_content {
  width: 1200px;
  margin: 20px auto;
}
.myj_store_list {
  width: 1198px;
  height: 178px;
  margin-top: 22px;
  border: 1px solid #ccc;
}
.myj_store_touxiang {
  float: left;
  width: 140px;
  height: 140px;
  margin: 18px;
  border: 1px solid #ccc;
}
.myj_store_detail {
  float: left;
  margin: 20px 6px;
  color: #333;
}
.myj_store_name  {
  font-size: 18px;
  margin: 14px 0;
}
.myj_store_approve,
.myj_store_serve,
.myj_store_address {
  margin-top: 16px;
  font-size: 12px;
}
.myj_store_approve {
  position: relative;
}
.store_approve_icon,
.store_approve_pic {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0px;
  
}
.store_approve_icon {
  left: 70px;
  background: url('../../../src/myj/img/icon_dp.png') no-repeat;
}
.store_approve_pic {
  left: 100px;
  background: url('../../../src/myj/img/icon_dp.png') no-repeat 0 -20px;
}
.myj_store_serve dt,
.myj_store_serve dd {
  float: left;
  margin-right: 18px;
}
.myj_store_address {
  color: #666;
}
.myj_store_address span {
  padding-left: 4px;
}
.myj_store_show {
  float: right;
  margin: 18px;
}
.myj_store_show img {
  margin: 0 0 0 24px;
  border: 1px solid #ccc;
}