.mptm {
  width: 1190px;
  margin: 0 auto 65px;
  margin-top: 45px;
}
.mptm_ttl {
  height: 39px;
  margin-bottom: 15px;
  background: url(../img/tmttl.png) no-repeat;
}
.mptm_l {
  position: relative;
  float: left;
  width: 388px;
  overflow: hidden;
}
.mptm_l_big {
  width: 390px;
  height: 270px;
}
.mptm_l_small {
  width: 90px;
  height: 30px;
  margin: 25px 0 0 25px;
}
.mptm_logo {
  position: absolute;
  top: 0;
  left: 20px;
  height: 60px;
  width: 130px;
  background: url(../img/tmlogo.png) no-repeat;
}
.mptm_name {
  position: absolute;
  top: 60px;
  left: 20px;
  width: 130px;
  height: 60px;
  padding-top: 10px;
  background-color: #fff;
  text-align: center;
}
.mptm_intro {
  display: inline-block;
  width: 220px;
  margin-left: 40px;
  color: #666;
  font-size: 12px;
}
.mptm_name h2 {
  height: 27px;
  font-size: 18px;
}
.mptm_name p {
  height: 21px;
  font-size: 14px;
  color: #666;
}
.mptm_r {
  float: left;
  width: 800px;
}
.mptm_r_item {
  position: relative;
  float: left;
  margin: 0 0 10px 10px;
  width: 390px;
  height: 175px;
}
.mptm_r_item:hover {
  outline: 1px solid #111;
}
.mptm_r_item i {
  position: absolute;
  z-index: 3;
  left: 189px;
  top: 78px;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-left-color: #fff;
  font-size: 0;
}
.mptm_r_item_intro {
  float: left;
  width: 189px;
  height: 175px;
  text-align: center;
}
.mptm_r_item_intro img {
  width: 90px;
  height: 30px;
  margin-top: 60px;
}
.mptm_r_item_intro p {
  height: 36px;
  color: #333;
  font: bold 18px/36px 'microsoft yahei';
}
.mptm_r_item_intro>span {
  display: block;
  width: 80px;
  height: 24px;
  margin: 7px auto 0;
  background: #111;
  color: #fff;
  font: 14px/24px 'microsoft yahei';
  text-align: center;
  overflow: hidden
}
.secondType {
  width: 1190px;
  margin: 0 auto;
  margin-bottom: 45px;
  overflow: hidden;
}
.secondType_l {
  float: left;
  width: 236px;
  overflow: hidden;
}
.secondType_ttl {
  height: 80px;
  border-left: 3px solid #96cff0;
  margin-top: 21px;
  margin-left: 19px;
  overflow: hidden;
}
.secondType_ttl h3 {
  padding-left: 10px;
  font-size: 36px;
}
.secondType_ttl h4 {
  padding-left: 10px;
  font-size: 26px;
}
.secondType_type {
  width: 185px;
  height: 40px;
  margin-top: 14px;
  margin-left: 19px;
  font-size: 0;
  overflow: hidden;
}
.secondType_type span {
  display: inline-block;
  height: 18px;
  margin-bottom: 6px;
  margin-left: -10px;
  padding-right: 15px;
  white-space: nowrap;
  overflow: hidden;
}
.secondType_type i {
  display: inline-block;
  position: relative;
  top: 2px;
  height: 11px;
  margin-right: 10px;
  border-left: 1px solid #e2e2e2;
}   
.secondType_type a {
  color: #666;
  font-size: 12px;
  text-decoration: none;
}
.secondType_l_img {
  display: block;
  width: 210px;
  height: 340px;
  margin: 22px auto 0;
}
.secondType_r {
  float: left;
  width: 950px;
  height: 530px;
  overflow: hidden;
}
.secondType_r_t {
  width: 980px;
  height: 344px;
}
.secondType_r_t img {
  display: block;
  width: 230px;
  height: 310px;
  margin-bottom: 8px;
}
.secondType_r_b {
  height: 170px;
  margin-top: 10px;
}
.secondType_r_b img {
  display: block;
  width: 230px;
  height: 140px;
  margin-bottom: 8px;
}
.secondType_r_item {
  float: left;
  width: 228px;
  margin-right: 10px;
  overflow: hidden;
  color: black;
  border: 1px solid #eee;
}
.secondType_r_item:hover {
  border: 1px solid #aaa;
}
.secondType_r_item_last {
  margin-right: 0;
}
.secondType_r_item a {
  text-decoration: none;
}
.secondType_r_item p {
  width: 208px;
  margin-bottom: 8px;
  padding-left: 20px;
  font-size: 12px;
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}