.emailDetail {
  padding-left: 20px;
}
.emailDetail_ttl {
  width: 800px;
  padding-bottom: 20px;
  border-bottom: 1px solid #dcdcdc;
  margin-bottom: 20px;
}
.emailDetail_ttl_ttl {
  line-height: 30px;
  font-weight: 700;
  font-size: 18px;
}
.emailDetail_ttl p {
  font-size: 14px;
  line-height: 25px;
  color: #666;
}
.emailDetail_cont {
  margin-bottom: 30px;
}
.emailDetail_cont_cont {
  width: 740px;
  height: 320px;
  padding: 5px 10px;
  border: 1px solid #dcdcdc;
  overflow-y: scroll;
  font-size: 14px;
}
.functionBtn button {
  width: 70px;
  height: 20px;
  border: 0;
  background-color: #007cff;
  color: #fff;
  margin-right: 10px;
  font-size: 12px;
  cursor: pointer;
}
.functionBtn button {
  width: 70px;
  height: 20px;
  border: 0;
  background-color: #007cff;
  color: #fff;
  margin-right: 10px;
  font-size: 12px;
  cursor: pointer;
}