/*个人中心基本信息 ---教育经历*/

.home_InfoTable {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
    font-size: 12px;
}
.home_InfoTable thead td {
    background: #f7f7f7;
    font-weight: bold;
}
.home_InfoTable td {
    border: 1px solid #ddd;
    height: 30px;
    line-height: 30px;
    text-align: center;
}