/*订单信息填写*/
.orderFill_content {
  width: 1160px;
  margin: 0 auto 30px;
  overflow: hidden;
  border: 1px solid #ececec;
  background-color: #fff;
}
.order_ttl {
  padding: 20px;
  border-bottom: 1px solid #ededed;
  font-size: 22px;
  background-color: #fafafa;
}
.orderfill {
  padding: 20px;
}
.orderfill_not {
  height: 48px;
  padding-left: 20px;
  border: 1px solid #ffc38a;
  background-color: #fffcf5;
  font-size: 14px;
  color: #ff7901;
  line-height: 48px;
}
.orderfill_not span {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  margin-top: -3px;
  background: url(../img/002.png) -3px -2px no-repeat;
 vertical-align: middle;
}
.orderfill_ttl {
  border-bottom: 1px solid #ececec;
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 55px;
}
.areaSelect {
  position: relative;
  height: 30px;
  margin-bottom: 5px;
  border: 1px solid transparent;
  font-size: 14px;
  line-height: 30px;
}
.areaSelect i {
  vertical-align: middle;
}
.selected_addr {
  border: 1px solid #ffc38a;
  background-color: #fffcf5;
}
.sendFor {
  display: none;
  float: left;
  width: 100px;
  margin-right: 10px;
  color: #ff7901;
  text-align: right;
}
.sendFor i {
  display: inline-block;
  width: 14px;
  height: 19px;
  margin-right: 5px;
  background: url(../img/002.png) -5px -19px no-repeat;
}
.selected_addr .sendFor {
  display: block;
}
.select_icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: -2px;
  margin-right: 5px;
  background: url(../img/002.png) -39px -2px no-repeat;
  cursor: pointer;
}
.selected_addr .select_icon,
.selected_icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url(../img/002.png) -22px -2px no-repeat;
}
.user_infor {
  position: absolute;
  left: 110px;
  width: 800px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.operate {
  display: none;
  float: right;
}
.selected_addr .operate {
  display: block;
}
.orderfill_name,
.orderfill_phone {
  margin-right: 10px;
}
.operate_items {
  float: left;
  height: 13px;
  padding: 0 15px;
  color: #0091e6;
  cursor: pointer;
}
.operate_items_grey {
  color: #999;
}
.newAddr {
  margin-top: 25px;
  margin-left: 110px;
  font-size: 14px;
  cursor: pointer;
}
.selected_icon {
  margin-top: -2px;
  margin-right: 5px;
  cursor: pointer;
}
.invoice {
  height: 30px;
  font-size: 14px;
  line-height: 30px;
}
.invoice i {
  vertical-align: middle;
}
.redStar {
  color: red;
}
.invoice_div {
  margin-bottom: 25px;
}
.invoiceLabel {
  height: 35px;
  margin-right: 10px;
  line-height: 35px;
  font-size: 14px;
}
.invoiceInput,
.invoiceInput_long {
  width: 240px;
  height: 33px;
  padding-left: 10px;
  border: 1px solid #ededed;
  font-size: 12px;
}
.invoiceInput_long {
  width: 480px;
}
.riskDetail {
  padding: 12px 15px;
  border: 1px solid #ffc38a;
}
.riskDetail_ttl {
  height: 25px;
  line-height: 25px;
  font-size: 14px;
  font-weight: 700;
}
.riskDetail_ttl i {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  margin-top: -2px;
  vertical-align: middle;
  background: url(../img/002.png) -3px -2px no-repeat;
}
.riskDetail_ul {
  margin-top: 10px;
  margin-bottom: 15px;
}
.riskDetail_ul_items {
  line-height: 20px;
  font-size: 12px;
}
.nextBtn {
  margin-top: 25px;
  text-align: center;
}
.nextBtn_btn {
  width: 110px;
  height: 40px;
  border: 0;
  border-radius: 5px;
  color: #fff;
  background-color: #ea544a;
  cursor: pointer;
}
/*头部进度条*/
.pay_progress {
  width: 1160px;
  height: 37px;
  border: 1px solid #ededed;
  margin: 20px auto;
}
.pay_progress_items {
  position: relative;
  float: left;
  width: 290px;
  height: 37px;
  line-height: 37px;
  text-align: center;
  background-color: #fff;
}
.triangle {
  position: absolute;
  top: 0;
  border-style: solid;
  border-width: 19px 0 19px 19px;
}
.white_trian {
  right: -19px;
  border-color: transparent transparent transparent #fff;
  z-index: 10;
}
.grey_trian {
  right: -20px;
  border-color: transparent transparent transparent #ededed;
  z-index: 9;
}
.complete {
  background-color: #fda6a3;
  color: #fff;
}
.complete i {
  border-color: transparent transparent transparent #fda6a3;
}
.complete .grey_trian {
  right: 19px;
}

/*地址弹出框*/
.newaddr_model {
  width: 940px;
  height: 550px;
  margin-left: -470px;
}
.newaddr_model .model_cont {
  overflow-y: visible;
}
.addrForm {
  position: relative;
}
.newaddrForm {
  margin-bottom: 15px;
}
.newaddr_ttl {
  margin-left: 20px;
  margin-bottom: 15px;
  font-size: 12px;
}
.newaddr_ttl span {
  margin-right: 10px;
  color: #fc6210;
}
.newaddrForm_label {
  display: inline-block;
  width: 90px;
  margin-right: 5px;
  text-align: right;
}
.newaddrForm_label_required {
  color: #fc6210;
}
.newaddrForm_input {
  width: 190px;
  height: 28px;
  padding: 0 10px;
  border: 1px solid #cdd7d7;
  font-size: 12px;
}
.newaddrForm_textarea {
  width: 380px;
  height: 70px;
  padding: 0 10px;
  border: 1px solid #cdd7d7;
  vertical-align: top;
  font-size: 12px;
}
.newaddrForm_input-short {
  width: 50px;
}
.newaddrForm_btn {
  width: 70px;
  height: 30px;
  border: 0;
  border-radius: 5px;
  margin-left: 98px;
  background-color: #ff4001;
  color: #fff;
  cursor: pointer;
}
.order_addr {
  display: none;
  position: absolute;
  top: 30px;
  max-height: 150px;
  min-width: 70px;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
  overflow-y: scroll;
}
.addr_province {
  left: 100px;
}
.addr_city {
  left: 175px;
}
.addr_county {
  left: 253px;
}
.addr_province li:hover,
.addr_county li:hover,
.addr_city li:hover {
  color: #fff;
  background-color: #fc6210;
}
.model_bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.7;
  z-index: 11;
}
.model {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 690px;
  height: 542px;
  border: 5px solid #676767;
  margin-top: -267px;
  margin-left: -345px;
  z-index: 12;
  background-color: #fff;
}
.model_ttl {
  position: relative;
  padding: 25px 20px;
  font-size: 16px;
  color: #333;
}
.model_cancel {
  position: absolute;
  right: 20px;
  top: 25px;
  font-size: 20px;
  cursor: pointer;
}
.model_cont {
  height: 430px;
  padding: 20px;
  border-top: 1px solid #ececec;
  overflow-y: scroll;
}