.multipleSelect {
  float: left;
  width: 500px;
}
.multipleSelect_type {
  display: inline-block;
  height: 33px;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 15px;
  margin-bottom: 20px;
  line-height: 33px;
  font-size: 14px;
  color: #999;
  cursor: pointer;
}
.multipleSelect_type-selected {
  background-color: #337ab7;
  color: #fff;
}
.formSelect_small {
  width: 80px;
  height: 35px;
  margin: 0 20px;
}
.formSet_span {
  display: inline-block;
  height: 36px;
  line-height: 36px;
  font-size: 15px;
  color: #999;
}
.formInputSet_radioWrap {
  display: inline-block;
  height: 36px;
  line-height: 36px;
  font-size: 15px;
}
.formInputSet_radioWrap input {
  margin-right: 5px;
}
.sbcslisttabs li {
  width: 83px;
}
.ksfb_table {
  margin: 80px auto 0;
  text-align: center;
}
.ksfb_table input {
  height: 28px;
  text-align: right;
}
.ksfb_table thead tr {
  height: 40px;
  color: #666;
  background-color: #F5F6FA;
  font-size: 16px;
}
.ksfb_table tbody tr {
  height: 150px;
}
.ksfb_table tbody img {
  width: 100px;
  height: 75px;
}
.ksfb_table .searchBtn {
  width: 70px;
  height: 30px;
  border: 0;
  border-radius: 3px;
  margin-left: 5px;
  color: #fff;
  background-color: #337AB7;
}
.priceInput {
  width: 50px;
  margin-right: 5px;
}
.prompt {
  position: absolute;
  top: 0;
  left: 35px;
  margin: 20px;
  color: #337AB7;
  font-size: 14px;
}