.multipleSelect {
  float: left;
  width: 500px;
}
.multipleSelect_type {
  display: inline-block;
  height: 33px;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 15px;
  margin-bottom: 20px;
  line-height: 33px;
  font-size: 14px;
  color: #999;
  cursor: pointer;
}
.multipleSelect_type-selected {
  background-color: #337ab7;
  color: #fff;
}
.formSelect_small {
  width: 80px;
  height: 35px;
  margin: 0 20px;
}
.formSet_span {
  display: inline-block;
  height: 36px;
  line-height: 36px;
  font-size: 15px;
  color: #999;
}
.formInputSet_radioWrap {
  display: inline-block;
  height: 36px;
  line-height: 36px;
  font-size: 15px;
}
.formInputSet_radioWrap input {
  margin-right: 5px;
}
.sbcslisttabs li {
  width: 83px;
}